/*
 * Copyright (c) 2023 Nuvoton Technology Corporation.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	aliases {
		/* For i2c test suites */
		i2c-0 = &i2c1_a;
		i2c-1 = &i2c1_b;
		i2c-2 = &i2c2_a;
		i2c-3 = &i2c2_b;
		i2c-4 = &i2c3_a;
		i2c-5 = &i2c3_b;
		i2c-6 = &i2c4_a;
		i2c-7 = &i2c4_b;
		i2c-8 = &i2c5_a;
		i2c-9 = &i2c6_a;
	};
};

&i2c1_a {
	status = "okay";
	pinctrl-0 = <&i2c1_a_sda_scl_gp22_17>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c1_b {
	status = "disabled";
	pinctrl-0 = <&i2c1_b_sda_scl_gp74_73>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c2_a {
	status = "disabled";
	pinctrl-0 = <&i2c2_a_sda_scl_gp50_52>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c2_b {
	status = "disabled";
	pinctrl-0 = <&i2c2_b_sda_scl_gpd5_d6>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c3_a {
	status = "disabled";
	pinctrl-0 = <&i2c3_a_sda_scl_gp31_23>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c3_b {
	status = "disabled";
	pinctrl-0 = <&i2c3_b_sda_scl_gpe1_e2>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c4_a {
	status = "disabled";
	pinctrl-0 = <&i2c4_a_sda_scl_gp53_47>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c4_b {
	status = "disabled";
	pinctrl-0 = <&i2c4_b_sda_scl_gp46_44>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c5_a {
	status = "disabled";
	pinctrl-0 = <&i2c5_a_sda_scl_gpe3_e4>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c6_a {
	status = "disabled";
	pinctrl-0 = <&i2c6_a_sda_scl_gpe6_25>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c_ctrl1 {
	status = "okay";
};

&i2c_ctrl2 {
	status = "okay";
};

&i2c_ctrl3 {
	status = "okay";
};

&i2c_ctrl4 {
	status = "okay";
};

&i2c_ctrl5 {
	status = "okay";
};

&i2c_ctrl6 {
	status = "okay";
};