/*
 * Copyright (c) 2023 Nuvoton Technology Corporation.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		zephyr,shell-uart = &uart1;
	};
};


/ {
	zephyr,user {
		io-channels =<&adc0 0>;
	};
};


&adc0 {
	#address-cells = <1>;
	#size-cells = <0>;

	status = "okay";
	/* Use adc0 channel 0 ~ 13 for 'adc_api' driver tests */
	pinctrl-0 = <&adc0_chan0_gp45
	>;

	pinctrl-names = "default";

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,vref-mv = <2816>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <10>;
	};
};


