/*
 * Copyright (c) 2023 Nuvoton Technology Corporation.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&kbd {
	/* Demonstrate a 13 x 8 keyboard matrix on evb */
	pinctrl-0 = <&ksi0_1_2_3_gpa0_a1_a2_a3 /* KSI0/1/2/3 PINA0/A1/A2/A3 */
		     &ksi4_5_gpa4_a5 /* KSI4/5 PINA4/A5 */
		     &ksi6_7_gpa6_a7 /* KSI6/7 PINA6/A7 */
		     &kso00_01_02_03_gpb0_b1_b2_b3 /* KSO00/01/02/03 PINB0/B1/B2/B3 */
		     &kso04_05_06_07_gpb4_b5_b6_b7 /* KS004/05/06/07 PINB4/B5/B6/B7 */
		     &kso08_09_gpc0_c1 /* KSO08/09 PINC0/C1 */
		     &kso10_11_gpc2_c3 /* KSO10/11 PINC2/C3 */
		     &kso12_gp64 /* KSO12 PIN64 */
		     >;
	pinctrl-names = "default";
	row-size = <8>;
	col-size = <13>;
	status = "okay";
};