/*
 * Copyright (c) 2023 Nuvoton Technology Corporation.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		zephyr,shell-uart = &uart1;
	};
};

/* Power domain device controlled by PSL */
&power_ctrl_psl {
	status = "okay";
	enable-gpios = <&gpio8 5 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&psl_in1_gpd2 &psl_in2_gp00 &psl_in3_gp01 &psl_in4_gp02>;
};
