/*
 * Copyright (c) 2023 Nuvoton Technology Corporation.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	aliases {
		/* For samples/drivers/spi_flash */
		spi-flash0 = &shared_flash;
		shd-flash = &shared_flash;
	};
};
