/*
 * Copyright (c) 2023 Nuvoton Technology Corporation.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		zephyr,shell-uart = &uart1;
	};
};

&gpio0 {
	label = "gpio0";
};

&gpio1 {
	label = "gpio1";
};

&gpio2 {
	label = "gpio2";
};

&gpio3 {
	label = "gpio3";
};

&gpio4 {
	label = "gpio4";
};

&gpio5 {
	label = "gpio5";
};

&gpio6 {
	label = "gpio6";
};

&gpio7 {
	label = "gpio7";
};
&gpio8 {
	label = "gpio8";
};
&gpio9 {
	label = "gpio9";
};
&gpioa {
	label = "gpioa";
};
&gpiob {
	label = "gpiob";
};
&gpioc {
	label = "gpioc";
};
&gpiod {
	label = "gpiod";
};
&gpioe {
	label = "gpioe";
};
&gpiof {
	label = "gpiof";
};