/*
 * Copyright (c) 2023 Nuvoton Technology Corporation.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		zephyr,shell-uart = &uart1;
	};

	aliases {
		/* For samples/drivers/spi_flash */
		taf-flash = &shd_flash;
	};
};

&qspi_fiu0 {
	status = "okay";
};

&espi0 {
	rx-plsize = <64>;
	tx-plsize = <64>;

	espi_taf: espitaf@4000a000 {
		compatible = "nuvoton,npcx-espi-taf";
		reg = <0x4000a000 0x2000>;

		mapped-addr = <0x70000000>;
		max-read-sz = "64B";
		erase-sz = "SIZE_4KB";

		#address-cells = <1>;
		#size-cells = <1>;
		status = "okay";
	};
};
