/*
 * Copyright (c) 2023 Nuvoton Technology Corporation.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		zephyr,shell-uart = &uart1;
	};

	aliases {
		/* For samples/drivers/spi_flash */
		taf-flash = &shd_flash;
	};
};


&dma0 {
	status = "okay";
};
